<%= form_for @goal_edit, url: update_goal_path(@goal_edit), :method => :POST do |f| %>
	 <p>
    <%= f.text_field :goal, class: "input" %>
  </p>
 
  <p>
    <%= f.submit "Save", class: "button is-primary is-large" %>
  </p>
<% end %>