/* forms */

#error_explanation {
  ul {
    color: red;
  }
}

.field_with_errors {
  .input {
    color: red;
  }
}

.is-warning {
	font-size: 13px;
}

#ask {
	font-size: 19px;
}


/* Table */

.table-font {
	font-family: Arial,Verdana, sans-serif;
	font-size: .6em;
}