<section class="section is-small">
  <div class="columns is-mobile">  
    <div class="column is-half is-offset-one-quarter">
      <!--Login button-->
    	<%= link_to "Login", login_path, class: "button is-primary is-outlined is-fullwidth" %>
    </div>
  </div>
</section>